body{
  font-family:Arial;
  text-align:center;
  margin-top:100px;
}

button{
  padding:10px 20px;
  font-size:16px;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  height: 100vh;
  background: linear-gradient(135deg, #1d2671, #c33764);
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-box {
  background: white;
  padding: 30px;
  width: 320px;
  border-radius: 12px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.3);
  text-align: center;
}

.login-box h2 {
  margin-bottom: 20px;
  color: #333;
}

.login-box input {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border-radius: 6px;
  border: 1px solid #ccc;
  outline: none;
}

.login-box input:focus {
  border-color: #c33764;
}

.login-box button {
  width: 100%;
  padding: 10px;
  background: #c33764;
  border: none;
  color: white;
  font-size: 16px;
  border-radius: 6px;
  cursor: pointer;
  margin-top: 10px;
}

.login-box button:hover {
  background: #a82b55;
}

#msg {
  margin-top: 12px;
  color: red;
  font-size: 14px;
}
